# .esbuild
.esbuild
.env*

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Remove this once development nears stable
package-lock.json
